*.pyc
__pycache__/
db.sqlite3
staticfiles/
.pythonlibs/

node_modules/
dist/
*.tsbuildinfo
.expo/
.expo-shared/

/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

.vscode/*
!.vscode/settings.json

.DS_Store
Thumbs.db

.cache/
.local/
